<!DOCTYPE html>
<html>
<head lang="en">
<link href="css/destinyStats.css" rel="stylesheet"/>
<script src="components/jquery/dist/jquery.min.js"></script>
<script src="components/gsap/src/minified/TweenMax.min.js"></script>
<script src="js/destinyStats.js"></script>
</head>
<body>
<div class="plates">
  <div class="plateList" data-membershiptype="1">
    <div class="characterPlate" style="background-image: url(img/Eskimo.BG.jpg);">
      <div class="emblem" style="background-image: url(img/Eskimo.EM.jpg);"></div>
      <div class="characterDetails"> <span class="level">34</span> <span class="powerLevel light">162</span> </div>
      <div class="characterProgress">
        <progress max="100" value="80" id="progress0"></progress>
      </div>
    </div>
    <div class="characterPlate" style="background-image: url(img/Solo.BG.jpg);">
      <div class="emblem" style="background-image: url(img/Solo.EM.jpg);"></div>
      <div class="characterDetails"> <span class="level">40</span> <span class="powerLevel light">162</span> </div>
      <div class="characterProgress">
        <progress max="100" value="80" id="progress1"></progress>
      </div>
    </div>
    <div class="characterPlate" style="background-image: url(img/Tigress.BG.jpg);">
      <div class="emblem" style="background-image: url(img/Tigress.EM.jpg);"></div>
      <div class="characterDetails"> <span class="level">38</span> <span class="powerLevel light">162</span> </div>
      <div class="characterProgress">
        <progress max="100" value="80" id="progress2"></progress>
      </div>
    </div>
    <div class="cruciblePlate" style="background-image: url(img/Crucible.BG.jpg);">
      <div class="emblem" style="background-image: url(img/Crucible.EM.jpg);"></div>
      <div class="crucibleDetails"> <span class="standing">Victory</span> <span class="kdr">23.0</span> </div>
    </div>
  </div>
</div>
</body>
</html>